﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* RHYMES HOME PAGE *@



<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <!--CATEGORIES-->
            <h4>Go to:</h4>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
            </ul>
            <img src="~/images/Rhymes/Home Page/baba-3.jpg" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Rhymes/Home Page/humpty-4.jpg" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Rhymes/Home Page/one-5.gif" style="padding-bottom:10px; height:170px; width:150px" />
        </div>
        <div class="col-lg-8" style="background-color:darksalmon; border-radius: 10px;">
            <!--MAIN BODY-->
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="background-color:silver; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                    <h3 style="text-align:center">All Rhymes</h3>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <h4 style="color:white; padding-left:15px">One Two Three Rhymes</h4>
                <div class="col-lg-6" style="border-radius:10px">
                    
                        <img src="~/images/Rhymes/Home Page/one-1.jpg" style="height:300px; width: 340px" />
                        
                    
                </div>

                <div class="col-lg-6">
                    
                        <img src="~/images/Rhymes/Home Page/one-2.jpg" style="height:300px; width: 360px" />
                        
                    
                </div>
             
            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white; padding-left:15px">Humpty Dumpty Rhymes</h4>
                <div class="col-lg-6">
                    
                        <img src="~/images/Rhymes/Home Page/humpty-1.jpg" style="height:300px; width: 340px" />
                        
                    
                </div>
                <div class="col-lg-6">
                    
                        <img src="~/images/Rhymes/Home Page/humpty-2.gif" style="height:300px; width: 360px" />
                        
                    
                </div>
                
            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white; padding-left: 15px">Baba Black Sheep Rhymes</h4>
                <div class="col-lg-6">
                    
                        <img src="~/images/Rhymes/Home Page/baba-1.jpg" style="height:300px; width: 340px" />
                        
                    
                </div>
                <div class="col-lg-6">
                    
                        <img src="~/images/Rhymes/Home Page/baba-2.jpg" style="height:300px; width: 360px" />
                        
                </div>
            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white; padding-left: 15px">Jack and Jill Rhymes</h4>
                <div class="col-lg-6">

                    <img src="~/images/Rhymes/Home Page/jack-1.jpg" style="height:300px; width: 340px" />


                </div>
                <div class="col-lg-6">

                    <img src="~/images/Rhymes/Home Page/jack-2.jpg" style="height:300px; width: 360px" />

                </div>
            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white; padding-left: 15px">Mary Had A Little Rhymes</h4>
                <div class="col-lg-6">

                    <img src="~/images/Rhymes/Home Page/Mary-1.jpg" style="height:300px; width: 340px" />


                </div>
                <div class="col-lg-6">

                    <img src="~/images/Rhymes/Home Page/Mary-2.jpg" style="height:300px; width: 360px" />

                </div>
            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white; padding-left: 15px">Row Your Boat Rhymes</h4>
                <div class="col-lg-6">

                    <img src="~/images/Rhymes/Home Page/row-1.jpg" style="height:300px; width: 340px" />


                </div>
                <div class="col-lg-6">

                    <img src="~/images/Rhymes/Home Page/row-2.jpg" style="height:300px; width: 360px" />

                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <!--GO TO-->
            
            <img src="~/images/Rhymes/Home Page/baba-5.jpg" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Rhymes/Home Page/humpty-5.jpg" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Rhymes/Home Page/one-6.jpg" style="padding-bottom:10px; height:170px; width:150px" />
        </div>
    </div>
</div>