﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

                                                @* YOUTUBE VIDEOS HOME PAGE *@



<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <!--GO TO-->
            <h4>Go to:</h4>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
            </ul>
        </div>
        <div class="col-lg-8" style="background-color:cornflowerblue; border-radius: 10px;">
            <!--MAIN BODY-->
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="background-color:silver; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                    <h3 style="text-align:center">All YouTube Videos</h3>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
            
                <div class="col-lg-4" style="border-radius:10px">
                    <a asp-controller="YouTubeVideos" asp-action="SolarSystem">
                        <img src="~/images/YouTube Videos/Home page/Solar System.jpg" style="height:200px; width: 240px" />
                        <p style="text-align:center; color:white">Solar System</p>
                    </a>
                </div>
                
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/Good habits.png" style="height:200px; width: 225px" />
                        <p style="text-align:center; color:white">Good Habits</p>
                    </a>
                </div>
                <div class="col-lg-4" style="border-radius:10px">
                    <a asp-controller="YouTubeVideos" asp-action="VideoRhymes">
                        <img src="~/images/YouTube Videos/Home page/Video Rhymes.png" style="height:200px; width: 225px" />
                        <p style="text-align:center; color:white">Video Rhymes</p>
                    </a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/human body.jpg" style="height:200px; width: 225px" />
                        <p style="text-align:center; color:white">Human Body</p>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/alphabets.jpg" style="height:200px; width: 240px" />
                        <p style="text-align:center; color:white">Alphabets</p>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/funny animal.jpg" style="height:200px; width: 225px" />
                        <p style="text-align:center; color:white">Funny Pets</p>
                    </a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/minions.jpg" style="height:200px; width: 225px" />
                        <p style="text-align:center; color:white">Minions</p>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/cartoons.png" style="height:200px; width: 240px" />
                        <p style="text-align:center; color:white">Cartoons</p>
                    </a>
                </div>
                
                <div class="col-lg-4">
                    <a asp-controller="Home" asp-action="#">
                        <img src="~/images/YouTube Videos/Home page/coloring.jpg" style="height:200px; width: 225px" />
                        <p style="text-align:center; color:white">Coloring</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            
        </div>
    </div>
</div>