﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    
    <div class="row">
        
        
        <div class="row">
            <br />
            <div class="col-lg-2">
                <!--GO TO-->
                <h4>Go to:</h4>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                    <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                    <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                    <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                    <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                    <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
                </ul>
                <div style="padding-bottom:10px">
                    <img src="~/images/YouTube Videos/Solar System/right image 1.jpg" style="height: 250px; width: 170px; border-radius: 10px" />
                </div>
                
                <img src="~/images/YouTube Videos/Solar System/right image 2.jpg" style="height: 170px; width: 170px; border-radius: 10px" />
            </div>
            <div class="col-lg-8" style="padding:10px; padding-right:10px; background-color:cornflowerblue; border-radius: 10px">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="background-color:silver; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                        <h3 style="text-align:center">Solar System</h3>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <ol type="1" style="color:white">
                    <li>
                        <h4 style="text-align:left; color:white">Exploring Our Solar System: Planets And Space For Kids - FreeSchool</h4>
                        <div class="row">
                            <iframe width="724" height="380" src="https://www.youtube.com/embed/Qd6nLM2QlWw" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                    
                    <hr />
                    <li>
                        <h4 style="text-align:left">Learning About The Planets In Our Solar System</h4>
                        <div class="row">
                            <iframe width="724" height="380" src="https://www.youtube.com/embed/jEXWxNbpTzU" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                    
                    <hr />
                    <li>
                        <h4 style="text-align:left">Interesting Facts About Our Solar System</h4>
                        <div class="row">
                            <iframe width="724" height="380" src="https://www.youtube.com/embed/xKKzIoJgMSQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                   
                    <hr />
                    <li>
                        <h4 style="text-align:left">Planets In Our Solar System | DIY Science Project For Kids | Easy To Do Solar System Model</h4>
                        <div class="row">
                            <iframe width="724" height="380" src="https://www.youtube.com/embed/QkiQnkG-21k" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                    
                </ol>
                <div class="row" style="padding-left:45px">
                    <div class="col-lg-3">
                        @*<a href="#" class="btn btn-warning btn-md">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous Page
                </a>*@
                    </div>
                    <div class="col-lg-6">
                        <!--EMPTY-->
                    </div>
                    <div class="col-lg-3">
                        <a asp-controller="YouTubeVideos" asp-action="VideoRhymes" class="btn btn-danger btn-md">
                            <span class="glyphicon glyphicon-arrow-right"></span>Video Rhymes
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                
                <div style="padding-bottom:10px">
                    <img src="~/images/YouTube Videos/Solar System/left image 1.jpg" style="height: 170px; width: 200px; border-radius:10px" />
                </div>
               
               <img src="~/images/YouTube Videos/Solar System/left image 2.jpg" style="height: 170px; width: 200px; border-radius:10px" />
            </div>
            
        </div>
    </div>
    
</div>