﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--GAMES INDEX PAGE-->

<hr />

<div class="container">
    <div class="row">

        <!--CATEGORIES SIDEBAR-->
        <div class="col-lg-2">
            <h4>Go to:</h4>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
            </ul>
            <div style="padding-bottom:10px">
                <img src="~/images/Games/Home page/right side image 1.jpg" style="height: 180px; width: 170px; border-radius: 10px" />
            </div>

            <img src="~/images/Games/Home page/right side image 2.png" style="height: 220px; width: 170px; border-radius: 10px" />
        </div>

        <!--MAIN BODY OF THE PAGE-->
        <div class="col-lg-8" style="background-color:darkgray; padding-left:20px;padding-right:20px; border-radius: 10px">

            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="background-color:teal; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                    <h3 style="text-align:center; color:white">All Games</</h3>
                </div>
                <div class="col-lg-4"></div>
            </div>

            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/floogals-frenzy" target="_blank">
                        <img src="~/images/Games/Home page/Floogals Frenzy.png" style="height:200px;width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Floogals Frenzy</p>
                    </a>
                </div>

                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/floogal-maze" target="_blank">
                        <img src="~/images/Games/Home page/Floogals Maze Adventure.png" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Floogals Maze Adventure</p>
                    </a>
                    
                </div>

                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/mission-floog" target="_blank">
                        <img src="~/images/Games/Home page/Mission From Floog.png" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Mission From Floog</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/fly-maya" target="_blank">
                        <img src="~/images/Games/Home page/Fly With Maya.png" style="height:200px;width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Fly With Maya</p>
                    </a>
                </div>

                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/nina-match" target="_blank">
                        <img src="~/images/Games/Home page/Nina Match Up.png" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Nina Match Up</p>
                    </a>
                </div>

                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/ninas-big-adventure" target="_blank">
                        <img src="~/images/Games/Home page/Nina's Big Adventure.png" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Nina's Big Adventure</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/paint-maya" target="_blank">
                        <img src="~/images/Games/Home page/Paint with Maya.png" style="height:230px;width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Paint With Maya</p>
                    </a>
                </div>

                <div class="col-lg-4">
                    <img src="~/images/Games/Home page/Spot the difference in Nina's world.png" style="height:230px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center; color:white">Play Spot The Difference In Nina's World</p>
                </div>

                <div class="col-lg-4">
                    <a href="http://www.sproutonline.com/games/mr-and-mrs-cs-melody-maker" target="_blank">
                        <img src="~/images/Games/Home page/Melody Maker.png" style="height:230px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="text-align:center; color:white">Play Melody Maker</p>
                    </a>
                </div>
            </div>

            <!--GO TO PAGE NUMBERS-->

        </div>

        <!--GO TO SIDEBAR-->
        <div class="col-lg-2">
            
            <div>
                <img src="~/images/Games/Home page/left side image 1.png" style="height: 250px; width: 170px; border-radius: 10px" />
            </div>

            <img src="~/images/Games/Home page/left side image 2.png" style="height: 230px; width: 170px; border-radius: 10px" />
        </div>
    </div>

</div>