﻿@using System.Security.Claims

@if (User.IsSignedIn() && User.IsInRole("Parent"))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Account" asp-action="Dashboard" title="Manage" style="color:white" onclick="show()">Hello @User.GetUserName()!</a>
        
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:white" onclick="show()">Log off</button>
            </li>
        </ul>
    </form>
}
else if (User.IsSignedIn() && User.IsInRole("Child"))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Home" asp-action="Index" style="color:white">Hello @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:white">Log off</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" style="color:white">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login" style="color:white">Log in</a></li>
    </ul>
}
