﻿

<div class="container">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <h2 style="text-align:center">About EduKids</h2>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-10">
                    <p style="text-align:justify">
                        EduKids is an eductional website designed specifically for children. It features contents like
                        comics, YouTube videos, rhymes, games, poems and stories. It also features parent and child registration
                        for security and monitoring ability for parents.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <h2 style="text-align:center">Tips and Security Information For Children</h2>
            </div>
            <div class="row">

                <div class="col-lg-5">
                    <h4 style="text-align:center"><strong>Stop Cyberbullying</strong> </h4>
                    <p style="text-align:justify">
                        Tell your kids that they can't hide behind the words they type and the images they post. Bullying is a lose-lose situation. Hurtful messages not only make the target feel bad, but also make the sender look bad. Often they can bring scorn from peers and punishment from authorities.
                    </p>
                </div>
                <div class="col-lg-1">
                    <!--EMPTY-->
                </div>
                <div class="col-lg-5">
                    <h4 style="text-align:center"><strong>What to do about a Cyberbully</strong></h4>
                    <p style="text-align:justify">
                        If your child is targeted by a cyberbully, keep a cool head. Remind your child that most people realize bullying is wrong. Tell your child not to respond in kind. Instead, encourage him or her to work with you to save the evidence and talk to you about it. If the bullying persists, share the record with school officials or local law enforcement.
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-lg-5">
                    <h4 style="text-align:center"><strong>Phones, Features and Options</strong></h4>
                    <p style="text-align:justify">
                        Your mobile phone company and the phone itself should give you some choices for privacy settings and child safety controls. Most carriers allow parents to turn off features, like web access, texting, or downloading. Some cell phones are made especially for children. They're designed to be easy to use, and have features like limited internet access, minute management, number privacy, and emergency buttons.
                    </p>
                </div>
                <div class="col-lg-1">
                    <!--EMPTY-->
                </div>
                <div class="col-lg-5">
                    <h4 style="text-align:center"><strong>Develop Cell Phone Rules</strong></h4>
                    <p style="text-align:justify">
                        Talk to your kids about when and where it's appropriate to use their cell phones. You also may want to establish rules for responsible use. Do you allow calls or texting at the dinner table? Do you have rules about cell phone use at night? Should they give you their cell phones while they're doing homework, or when they're supposed to be sleeping?
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>