﻿@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>
<h3></h3>

<address>
    1121 North College Drive<br />
    Maryville, MO<br />
    <abbr title="Phone">P:</abbr>
    660.555.0100
</address>
<h4>Please contact us via email provided below or feel free to call us.</h4>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@edukids.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@edukids.com</a>
</address>
