﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    #search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

    .button {
        height: 30px;
        position: absolute;
        right: 0;
        top: 5px;
        border-radius: 1px;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-lg-9">
            <!--EMPTY COL-->
        </div>
        <div class="col-lg-3">
            <!--SEARCH BOX-->
            <div class="search">
                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                <button type="submit" class="button btn-primary btn-sm"  >Search</button>
            </div>
            </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" data-target="#comicsModal">
                <h2 style="text-align:center">Comics</h2>
                <img src="~/images/Comics/Home Page/Archie.png" style="height:250px; width:300px" />
            </a>
            <!-- Modal -->
            <div class="modal fade" id="comicsModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="text-align:center">Comics</h4>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/Comics/Home Page/Archie.png" style="height:400px; width:565px" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <a asp-controller="Comics" asp-action="Index"><button type="button" class="btn btn-success btn-md" style="color:white">Take Me There</button></a>
                                </div>
                                <div class="col-lg-7">

                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No Thank You</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div> 
        
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" data-target="#youtubeModal">
                <h2 style="text-align:center">YouTube Videos</h2>
                <img src="~/images/Home Page/YouTube-Videos-for-Kids.jpg" style="height:250px; width:300px" />
            </a>
            <!-- Modal -->
            <div class="modal fade" id="youtubeModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">YouTube Videos</h4>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/Home Page/YouTube-Videos-for-Kids.jpg" style="height:400px; width:565px" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <a asp-controller="YouTubeVideos" asp-action="Index"><button type="button" class="btn btn-success btn-md" style="color:white">Take Me There</button></a>
                                </div>
                                <div class="col-lg-7">

                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No Thank You</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" data-target="#rhymesModal">
                <h2 style="text-align:center">Rhymes</h2>
                <img src="~/images/Rhymes/Home Page/baba-1.jpg" style="height:250px; width:300px" />
            </a>
            <!-- Modal -->
            <div class="modal fade" id="rhymesModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">Rhymes</h4>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/Rhymes/Home Page/baba-1.jpg" style="height:400px; width:565px" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <a asp-controller="Rhymes" asp-action="Index"><button type="button" class="btn btn-success btn-md" style="color:white">Take Me There</button></a>
                                </div>
                                <div class="col-lg-7">

                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No Thank You</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
             
    </div>

    @*<div class="col-lg-4">

        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-warning btn-block">Parent Login</button>
            <button type="button" class="btn btn-info btn-block">Child Login</button>
        </div>
        <div class="col-lg-3">

        </div>

    </div>*@     

    <div class="row">
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" data-target="#gamesModal">
                <h2 style="text-align:center">Games</h2>
                <img src="~/images/Home Page/newsite_gamepromoimages_cailloumemory.jpg" style="height:250px; width:300px" />
            </a>
            <!-- Modal -->
            <div class="modal fade" id="gamesModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">Games</h4>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/Home Page/newsite_gamepromoimages_cailloumemory.jpg" style="height:400px; width:565px" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <a asp-controller="Games" asp-action="Index"><button type="button" class="btn btn-success btn-md" style="color:white">Take Me There</button></a>
                                </div>
                                <div class="col-lg-7">

                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No Thank You</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" data-target="#poemsModal">
                <h2 style="text-align:center">Poems</h2>
                <img src="~/images/Home Page/poems.jpg" style="height:250px; width:300px" />
            </a>
            <!-- Modal -->
            <div class="modal fade" id="poemsModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="height:450px; width: 445px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">Poems</h4>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/Home Page/poems.jpg" style="height:300px; width:415px" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <a asp-controller="Poems" asp-action="Index"><button type="button" class="btn btn-success btn-md" style="color:white">Take Me There</button></a>
                                </div>
                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No Thank You</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" data-target="#storiesModal">
                <h2 style="text-align:center">Books</h2>
                <img src="~/images/Home Page/stories-for-kids.png" style="height:250px; width:300px" />
            </a>
            <!-- Modal -->
            <div class="modal fade" id="storiesModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">Books</h4>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/Home Page/stories-for-kids.png" style="height:500px; width:565px" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <a asp-controller="Stories" asp-action="booksForYoungChildren"><button type="button" class="btn btn-success btn-md" style="color:white">Take Me There</button></a>
                                </div>
                                <div class="col-lg-7">

                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No Thank You</button>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<hr />
                                                        



                                                        <!--Footer Contents-->
<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <img src="~/images/Home Page/Dora.png" style="height: 170px; width:85px" />
        </div>
        <div class="col-lg-2">
            <div style="background-color:tomato; color:white; padding: 12px">
                <h3>Games</h3>
                <ul>
                    <li>Catch</li>
                    <li>Concker</li>
                    <li>Doctor</li>
                    <li>Duck</li>
                </ul>
            </div>
        </div>
        
        <div class="col-lg-2">
            <div style="background-color:tomato; color:white; padding: 12px">
                <h3>Fun Videos</h3>
                <ul>
                    <li>Animals</li>
                    <li>Old Egg</li>
                    <li>Spidey</li>
                    <li>Clay Play</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div style="background-color:tomato; color:white; padding:12px">
                <h3>Poems</h3>
                <ul>
                    <li>Jack & Jill</li>
                    <li>Clouds</li>
                    <li>Stars</li>
                    <li>Looney</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div style="background-color:tomato; color:white; padding: 12px">
                <h3>Comics</h3>
                <ul>
                    <li>Batman</li>
                    <li>Archie</li>
                    <li>Calvin</li>
                    <li>Robin</li>
                </ul>
            </div>
        </div>
        
        <div class="col-lg-2">
            <div style="background-color:tomato; color:white; padding: 12px">
                <h3>Stories</h3>
                <ul>
                    <li>Happy Egg</li>
                    <li>Easter Bunny</li>
                    <li>Goofy</li>
                    <li>Hulk</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-1">
            <img src="~/images/Home Page/flinstones.jpg" style="height: 170px; width:90px" />
        </div>
    </div>
</div>
