﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-2">
        <h2>Categories</h2>
        <ul>
            <li><a href="">For young children</a></li>
            <li><a href="">For older children</a></li>
            <li><a href="">For young adult</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <h2>Books for young children</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img height="120" width="120" src="~/images/Books For Young Children/the gingerbread man.png"><a href="http://go.microsoft.com/fwlink/?LinkID=398600"></a>
            </div>
            <h3><a href="">The Gingerbread Man</a></h3>
            <div class="col-md-7">
                <p>by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img height="120" width="120" src="~/images/Books For Young Children/the gingerbread man.png"><a href="http://go.microsoft.com/fwlink/?LinkID=398600"></a>
            </div>
            <h3><a href="">The Gingerbread Man</a></h3>
            <div class="col-md-7">
                <p>by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img height="120" width="120" src="~/images/Books For Young Children/the gingerbread man.png"><a href="http://go.microsoft.com/fwlink/?LinkID=398600"></a>
            </div>
            <h3><a href="">The Gingerbread Man</a></h3>
            <div class="col-md-7">
                <p>by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img height="120" width="120" src="~/images/Books For Young Children/the gingerbread man.png"><a href="http://go.microsoft.com/fwlink/?LinkID=398600"></a>
            </div>
            <h3><a href="">The Gingerbread Man</a></h3>
            <div class="col-md-7">
                <p>by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img height="120" width="120" src="~/images/Books For Young Children/the gingerbread man.png"><a href="http://go.microsoft.com/fwlink/?LinkID=398600"></a>
            </div>
            <h3><a href="">The Gingerbread Man</a></h3>
            <div class="col-md-7">
                <p>by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img height="120" width="120" src="~/images/Books For Young Children/the gingerbread man.png"><a href="http://go.microsoft.com/fwlink/?LinkID=398600"></a>
            </div>
            <h3><a href="">The Gingerbread Man</a></h3>
            <div class="col-md-7">
                <p>by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
            </div>
        </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-5">
        <!--EMPTY COLUMN-->
    </div>
    <div class="col-md-2">

    </div>
</div>