﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* POEMS HOME PAGE *@



<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <!--CATEGORIES-->
            <h4>Go to:</h4>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
            </ul>
            
            <img src="~/images/Poems/Home Page/laundry.jpg" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Poems/Home Page/phone.png" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Poems/Home Page/picky.jpg" style="padding-bottom:10px; height:170px; width:150px" />
        </div>
        <div class="col-lg-8" style="background-color:darkorchid; border-radius: 10px;">
            <!--MAIN BODY-->
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="background-color:silver; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                    <h3 style="text-align:center">All Poems</h3>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <h4 style="color:white; text-align:center">A Reindeer for Christmas</h4>
                <div class="col-lg-6" style="border-radius:10px">

                    <img src="~/images/Poems/Home Page/christmas.png" style="height:300px; width: 340px" />


                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <p style="text-align:center; color:white; padding-right: 15px">
                            Dear Santa, this Christmas my list is quite small.
                            In fact, I need practically nothing at all.
                            My list is so short and so easy to read
                            because there's just one thing I actually need.
                        </p>
                    </div>
                    <div class="row">
                        <p style="color:white; text-align:center; padding-right: 15px">
                            A reindeer for Christmas is all I require;
                            a reindeer, of course, who's an excellent flier.
                            I really don't care if it's Dasher or Dancer.
                            I'm okay with Cupid or Comet or Prancer.
                        </p>
                    </div>
                    <div class="row">
                        <p style="color:white; text-align:center; padding-right: 15px">
                            Please don't think I'm greedy; I only want one.
                            You won't even miss him, and I'll have such fun.
                            I promise I'll feed him and treat him just right,
                            and take him out flying around every night.
                        </p>
                    </div>
                    <div class="row">
                        <p style="color:white; text-align:center; padding-right: 15px">
                            You see, I'm not selfish. So, for my surprise
                            this Christmas, please bring me a reindeer that flies.
                            But if my request is a bit much for you,
                            I guess that an iPod will just have to do.
                        </p>
                    </div>
                        
                    <p style="color:white; text-align:right; padding-right: 15px">--Kenn Nesbitt</p>
                    


                </div>

            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white;text-align:center">My Family's Fond of Gadgets</h4>
                
                <div class="col-lg-6">
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            My family's fond of gadgets
                            and new technology.
                            My mother likes her radio.
                            My father likes TV.
                        </p>
                    </div>
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            My sister likes to dance around
                            the house with headphones on.
                            My brother plays on his PC
                            until the break of dawn.
                        </p>
                    </div>
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            The baby has a smartphone
                            and a touchscreen-tablet too.
                            If we had pets, I'm sure
                            that even they would have a few.
                        </p>
                    </div>

                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            We chat with instant messaging.
                            We email and we text.
                            We're always looking forward
                            to the gadget we'll get next.
                        </p>
                    </div>    
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            The power went out recently.
                            That day was like no other.
                            Our screens went blank and, strange but true,
                            we talked to one another.

                            
                        </p>
                    </div>
                    <p style="color:white; text-align:right">--Kenn Nesbitt</p>
                    


                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-4">

                    <img src="~/images/Poems/Home Page/gadgets.png" style="height:300px; width: 240px; padding-right:20px"/>


                </div>

            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px;">
                <h4 style="color:white; text-align:center">I Rode A Rainbow Unicorn</h4>
                <div class="col-lg-6" style="border-radius:10px">

                    <img src="~/images/Poems/Home Page/unicorn.png" style="height:300px; width: 340px" />


                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <p style="text-align:center; color:white; padding-right: 15px">
                            I rode a rainbow unicorn.
                            We sailed across the sky.
                            (I'd fed him lots of Skittles,
                            since they always make him fly.)
                        </p>
                    </div>
                    <div class="row">
                        <p style="color:white; text-align:center; padding-right: 15px">
                            We took off like a comet
                            on a long and graceful flight.
                            And everywhere the people stopped
                            and marveled at the sight.
                        </p>
                    </div>
                    <div class="row">
                        <p style="color:white; text-align:center; padding-right: 15px">
                            His path was bright and colorful.
                            It sparkled, shimmered, shined,
                            as he arced across the heavens
                            shooting rainbows from behind.
                        </p>
                    </div>

                    <p style="color:white; text-align:right; padding-right: 15px">--Kenn Nesbitt</p>
                </div>

            </div>
            <hr />
            <div class="row" style="margin-bottom: 20px">
                <h4 style="color:white;text-align:center">My Mouse Is Misbehaving</h4>

                <div class="col-lg-6">
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            My mouse is misbehaving
                            and my keyboard's on the fritz.
                            The computer's not computing,
                            but is dropping bytes and bits.
                        </p>
                    </div>
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            The hard drive's click-click-clicking
                            and the printer's spitting ink.
                            The CD's started stuttering.
                            The screen is on the blink.

                        </p>
                    </div>
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            The memory is failing.
                            Things are grinding to a halt.
                            And, even worse, I realize
                            it's probably my fault.

                        </p>
                    </div>

                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            I thought it would be funny.
                            It was really just a joke.
                            I never thought the whole computer
                            might go up in smoke.
                        </p>
                    </div>
                    <div class="row" style="padding-left:15px">
                        <p style="color:white; text-align:center">
                            I guess I learned my lesson:
                            When it comes to your PCs,
                            it's best if you don't ever try
                            to feed the mouse some cheese.
                        </p>
                    </div>
                    <p style="color:white; text-align:right">--Kenn Nesbitt</p>



                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-4">

                    <img src="~/images/Poems/Home Page/mouse.jpg" style="height:300px; width: 240px; padding-right: 20px" />


                </div>

            </div>
            
            
        </div>
        <div class="col-lg-2">
            <!--GO TO-->
            
            <img src="~/images/Poems/Home Page/zombie.png" style="padding-bottom:10px;height: 170px; width: 100px" />
            <img src="~/images/Poems/Home Page/soup.jpg" style="padding-bottom:10px;height: 170px; width: 150px" />
            <img src="~/images/Poems/Home Page/homework.png" style="padding-bottom:10px; height:170px; width:150px" />
        </div>
    </div>
</div>