﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
                                            

                                                       <!--STORIES INDEX PAGE-->





<hr />



<div class="container">
    <div class="row">

                        <!--CATEGORIES SIDEBAR-->
        <div class="col-lg-2">
            <h4>Go to:</h4>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
            </ul>
            <img src="~/images/Stories/For Young Children/jungle book.gif" style="height:170px; width:170px; padding-left:10px; padding-bottom:10px"/>
            <img src="~/images/Stories/For Young Children/red riding hood.png" style="height:170px; width:170px; padding-left:20px; padding-bottom:10px" />
            <img src="~/images/Stories/For Young Children/tarzan.gif" style="height:170px; width:170px; padding-left:20px; padding-bottom:10px" />
        </div>
        
                        <!--MAIN BODY OF THE PAGE-->
        <div class="col-lg-8" style="background-color:silver; padding-left:20px;padding-right:20px">
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="background-color:cornsilk; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                    <h3 style="text-align:center">All Stories</</h3>
                </div>
                <div class="col-lg-4"></div>
            </div>
            
            
                     <!--SUBROWS FOR EACH STORY BOOK-->

                        <!--THE GINGERBREAD MAN-->
            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-2">
                    <img src="~/images/Stories/For Young Children/The Gingerbread Man.jpg" style="height:150px;width:130px; padding-right: 10px; padding-bottom: 10px" />
                </div>
                <div class="col-lg-10">
                    <a asp-controller="Stories" asp-action="theGingerbreadMan">The Gingerbread Man</a>
                    <br />
                    <!--About The Gingerbread Man-->
                    <div style="background-color:transparent; color:black; padding: 10px">
                        <p>  - by Carol Moore - A surprising new version of the classic Gingerbread Man fairy tale.</p>
                    </div>
                </div>
            </div>

                        <!--THE JOURNEY OF THE NOBLE GNARBLE-->
            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-2">
                    <img src="~/images/Stories/For Young Children/The Journey Of The Noble Gnarble.jpg" style="height:150px;width:130px; padding-right: 10px; padding-bottom: 10px" />
                </div>
                <div class="col-lg-10">
                    <a href="">The Journey Of The Noble Gnarble</a>
                    <br />
                    <!--About The Journey Of The Noble Gnarble-->
                    <div style="background-color:transparent; color:black; padding-right: 10px; padding-bottom: 10px">
                        <p>  - by Daniel Errico - Illustrated by Christian Colabelli - Deep below the ocean waves a gnarble fish dreams of seeing the sun and sky. Also available at Amazon in hardcover and Kindle editions.</p>
                    </div>
                </div>
            </div>

                        <!--THE INVISIBLE ALLIGATORS-->
            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-2">
                    <img src="~/images/Stories/For Young Children/The Invisible Alligators.jpg" style="height:150px;width:130px; padding-right: 10px; padding-bottom: 10px" />
                </div>
                <div class="col-lg-10">
                    <a href="">The Invisible Alligators</a>
                    <br />
                    <!--About The Invisible Alligators-->
                    <div style="background-color:transparent; color:black; padding-right: 10px; padding-bottom: 10px">
                        <p>   - by Hayes Roberts - Little Sari discovers invisible alligators quietly sneaking around creating trouble for her and everyone else.</p>
                    </div>
                </div>
            </div>

                        <!--THE BRAVE MONKEY PIRATE-->
            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-2">
                    <img src="~/images/Stories/For Young Children/The Brave Monkey Pirate.png" style="height:150px;width:130px; padding-right: 10px; padding-bottom: 10px" />
                </div>
                <div class="col-lg-10">
                    <a href="">The Brave Monkey Pirate</a>
                    <br />
                    <!--About The Brave Monkey Pirate-->
                    <div style="background-color:transparent; color:black; padding: 10px">
                        <p>  - by Hayes Roberts - The Pirate Modi uses his father's ship to follow a map. Will what he finds help him brave a shot at the doctor's office?</p>
                    </div>
                </div>
            </div>

                        <!--WOLSTENCROFT-->
            <div class="row">
                <!--IMAGE-->
                <div class="col-lg-2">
                    <img src="~/images/Stories/For Young Children/Wolstencroft.jpg" style="height:150px;width:130px; padding-right: 10px; padding-bottom: 10px" />
                </div>
                <div class="col-lg-10">
                    <a href="">The Journey Of The Noble Gnarble</a>
                    <br />
                    <!--About Wolstencroft-->
                    <div style="background-color:transparent; color:black; padding: 10px">
                        <p>  - by Karen Lewis - Illustrated by Michael S. Weber.</p>
                    </div>
                </div>
            </div>

        </div>

                                                    <!--GO TO SIDEBAR-->
        <div class="col-lg-2">
            <img src="~/images/Stories/For Young Children/baloo.gif" style="height:170px; width:120px; padding-left:20px; padding-bottom:10px" />
            <img src="~/images/Stories/For Young Children/hansel.png" style="height:170px; width:180px; padding-left:20px; padding-bottom:10px" />
            <img src="~/images/Stories/For Young Children/pooh.png" style="height:170px; width:170px; padding-left:20px; padding-bottom:10px" />
        </div>
    </div>



                                            
    
</div>