﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <h2 style="text-align:center">The Little Gingerbread Man</h2>
        <h3 style="text-align:center">Written and Illustrated by Carol Moore <small style="text-align:right">Last Page</small></h3>

    </div>

    <div class="row">
        <hr style="text-align:center" />
        <div class="col-lg-3">
            <!--ADD IMAGES IF NEED BE-->
        </div>

        <div class="col-lg-6">

            <p style="text-align:justify">
                The gingerbread family went inside their gingerbread house to celebrate with the butterfly remaining outside on the roof. She was content just smelling the gingerbread and sitting there quietly, whether it was day or night.
            </p>

            @*<p style="text-align:center">
                At that moment a voice came from nowhere. "Get up. Get up. Come with me."
            </p>*@

            <img src="~/images/Stories/For Young Children/The Gingerbread Man/pageFinal.jpg" style="width:550px; padding-bottom:10px; padding-top:10px" />

            @*<p style="text-align:center">
                Everyone looked to see who was speaking.
            </p>

            <p style="text-align:justify">
                It was a butterfly flying just outside the window. Butterflies are naturally beautiful, but her wings were an exceptionally pretty marbled blue.
            </p>
            <p style="text-align:center">
                "Come with me," she urged again.
            </p>
            <p style="text-align:justify">
                The gingerbread men didn't react except to keep staring. All but the smallest gingerbread man who jumped up from the tray and leaped off the kitchen windowsill onto the grass below faster than you could say "hurry."
            </p>*@

            <h2 style="text-align:center">The End</h2>
            <div class="row">
                <div class="col-lg-3">
                    <a asp-controller="Stories" asp-action="theGingerbreadManPage2" class="btn btn-warning btn-md">
                        <span class="glyphicon glyphicon-arrow-left"></span> Previous Page
                    </a>
                </div>
                <div class="col-lg-6">
                    <!--EMPTY-->
                </div>
                <div class="col-lg-3">
                    @*<a href="#" class="btn btn-info btn-md">
                            <span class="glyphicon glyphicon-arrow-right"></span> Next Page
                        </a>*@
                    <a asp-controller="Stories" asp-action="booksForYoungChildren" class="btn btn-info btn-md">Read other books</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <!--EMPTY FOR NOW-->
        </div>

        <hr />

    </div>
    <div class="row">



    </div>



</div>