﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <h2 style="text-align:center">The Little Gingerbread Man</h2>
        <h3 style="text-align:center">Written and Illustrated by Carol Moore</h3>
    </div>

    <div class="row">
        <hr style="text-align:center" />
        <div class="col-lg-3">
            <!--ADD IMAGES IF NEED BE-->

        </div>

        <div class="col-lg-6">
            
                <p style="text-align:justify">
                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting.
                </p>
            
            <p style="text-align:justify">
                She lived with her husband on a farm at the edge of town. The sweet spicy smell of gingerbread brought children skipping and running to see what would be offered that day.
            </p>
            
            <img src="~/images/Stories/For Young Children/The Gingerbread Man/page1.jpg" style="width:550px; padding-bottom:10px; padding-top:10px" />
            
            <p style="text-align:justify">
                One day she made a special batch of gingerbread men because they were extra big. Unfortunately for the last gingerbread man she ran out of batter and he was half the size of the others.
            </p>
            
            <p style="text-align:justify">
                She decorated the gingerbread men with care, each having socks, shirt and pants of different colors. When it came to the little gingerbread man she felt sorry for him and gave him more color than the others. "It doesn't matter he's small," she thought, "He'll still be tasty."
            </p>
            <div class="row">
                <div class="col-lg-3">
                    @*<a href="#" class="btn btn-warning btn-md">
                        <span class="glyphicon glyphicon-arrow-left"></span> Previous Page
                    </a>*@
                </div>
                <div class="col-lg-6">
                    <!--EMPTY-->
                </div>
                <div class="col-lg-3">
                    <a asp-controller="Stories" asp-action="theGingerbreadManPage2" class="btn btn-info btn-md">
                        <span class="glyphicon glyphicon-arrow-right"></span> Next Page
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <!--EMPTY FOR NOW-->
        </div>
        
        <hr />

    </div>
    <div class="row">

        

    </div>
    


</div>