﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <h2 style="text-align:center">The Little Gingerbread Man</h2>
        <h3 style="text-align:center">Written and Illustrated by Carol Moore <small style="text-align:right">Page 2</small></h3>
        
    </div>

    <div class="row">
        <hr style="text-align:center" />
        <div class="col-lg-3">
            <!--ADD IMAGES IF NEED BE-->
        </div>

        <div class="col-lg-6">

            <p style="text-align:justify">
                Putting the rack on the kitchen windowsill she left it there to cool and went to finish her laundry. The gingerbread men lay quietly, their frosted eyes gazing at the sky with its puffy clouds.
            </p>

            <p style="text-align:center">
                At that moment a voice came from nowhere. "Get up. Get up. Come with me."
            </p>

            <img src="~/images/Stories/For Young Children/The Gingerbread Man/page2.jpg" style="width:550px; padding-bottom:10px; padding-top:10px" />

            <p style="text-align:center">
                Everyone looked to see who was speaking.
            </p>

            <p style="text-align:justify">
                It was a butterfly flying just outside the window. Butterflies are naturally beautiful, but her wings were an exceptionally pretty marbled blue.
            </p>
            <p style="text-align:center">
                "Come with me," she urged again.
            </p>
            <p style="text-align:justify">
                The gingerbread men didn't react except to keep staring. All but the smallest gingerbread man who jumped up from the tray and leaped off the kitchen windowsill onto the grass below faster than you could say "hurry."
            </p>
            <div class="row">
                <div class="col-lg-3">
                    <a asp-controller="Stories" asp-action="theGingerbreadMan" class="btn btn-warning btn-md">
                            <span class="glyphicon glyphicon-arrow-left"></span> Previous Page
                        </a>
                </div>
                <div class="col-lg-6">
                    <!--EMPTY-->
                </div>
                <div class="col-lg-3">
                    <a asp-controller="Stories" asp-action="theGingerbreadManPageFinal" class="btn btn-info btn-md">
                        <span class="glyphicon glyphicon-arrow-right"></span> Next Page
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <!--EMPTY FOR NOW-->
        </div>

        <hr />

    </div>
    <div class="row">



    </div>



</div>