﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Security.Claims

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <!--EMPTY COL-->
        </div>
        <div class="col-lg-4">
            <h2>Wecome @User.GetUserName()!</h2>
        </div>
        <div class="col-lg-4">
            <!--EMPTY COL-->
        </div>

        <div class="row">
            <div class="col-lg-5">
                <h3>Select child to view progress</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <select>
                    <option value="bearcatChild">bearcatChild</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <!--EMPTY ROW-->
            </div>
            <div class="col-lg-2">
                <h4><strong><u>Games played:</u></strong></h4>
                <ol>
                    <li>Choose the correct animal</li>
                </ol>
                <p style="text-align:center">Score: 10</p>
            </div>
            <div class="col-lg-2">
                <!--EMPTY ROW-->
            </div>
            <div class="col-lg-2">
                <h4><strong><u>Videos watched:</u></strong></h4>
                <ol>
                    <li>The Solar System</li>
                    <li>Fun Balloon Party</li>
                    <li>Good Habits</li>
                </ol>
            </div>
            <div class="col-lg-4">
                <div id="myDiv" style="display:none"><img id="myImage" src="~/images/loader.gif"></div>
            </div>
            
        </div>
        
        <script type="text/javascript">

                    function show() {
                        document.getElementById("myDiv").style.display = "block";
                        setTimeout("hide()", 5000);  // 5 seconds
                    }

                    function hide() {
                        document.getElementById("myDiv").style.display = "none";
                    }

        </script>
        <div class="row">
            <div class="col-lg-2">
                <!--EMPTY ROW-->
            </div>
            <div class="col-lg-2">
                <h4><strong><u>Rhymes read:</u></strong></h4>
                <ol>
                    <li>Ringa Ringa Roses</li>
                    <li>Row Your Boat</li>
                </ol>
                
            </div>
            <div class="col-lg-2">
                <!--EMPTY ROW-->
            </div>
            <div class="col-lg-2">
                <h4><strong><u>Poems read:</u></strong></h4>
                <ol>
                    <li>The Great White Oak</li>
                    <li>Parmesan Tree</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <!--EMPTY ROW-->
            </div>
            <div class="col-lg-2">
                <h4><strong><u>Stories Read:</u></strong></h4>
                <ol>
                    <li>The Gingerbread Man</li>
                    <li>Sinbad</li>
                </ol>

            </div>
            <div class="col-lg-2">
                <!--EMPTY ROW-->
            </div>
            @*<div class="col-lg-2">
                <h4><strong><u>Poems read:</u></strong></h4>
                <ol>
                    <li>The Great White Oak</li>
                    <li>Parmesan Tree</li>
                </ol>
            </div>*@

        </div>
    </div>
</div>