﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserType" class="col-md-2 control-label">User Type</label>
        <div class="col-md-10">
            <select id="userType" asp-for="UserType" class="form-control">
                <option>Parent</option>
                <option>Child</option>
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="age" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="age" class="form-control" />
            <span asp-validation-for="age" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="dateofbirth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="dateofbirth" class="form-control" />
            <span asp-validation-for="dateofbirth" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
