﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--COMICS INDEX PAGE-->

<hr />

<div class="container">
    <div class="row">

        <!--CATEGORIES SIDEBAR-->
        <div class="col-lg-2">
            <h4>Go to:</h4>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Comics" asp-action="Index">Comics</a></li>
                <li><a asp-controller="YouTubeVideos" asp-action="Index">YouTube Videos</a></li>
                <li><a asp-controller="Rhymes" asp-action="Index">Rhymes</a></li>
                <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                <li><a asp-controller="Poems" asp-action="Index">Poems</a></li>
                <li><a asp-controller="Stories" asp-action="booksForYoungChildren">Stories</a></li>
            </ul>
        </div>

        <!--MAIN BODY OF THE PAGE-->
        <div class="col-lg-8" style="background-color:darkgray; padding-left:20px;padding-right:20px; border-radius: 10px">

            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="background-color:teal; border-radius: 10px;margin-top: 15px; margin-bottom: 10px">
                    <h3 style="text-align:center; color:white">All Comics</</h3>
                </div>
                <div class="col-lg-4"></div>
            </div>
            

            <!--SUBROWS FOR EACH STORY BOOK-->
            
            <div class="row" style="color:white">
                <!--IMAGE-->
                <div class="col-lg-4">
                    <a asp-controller="Comics" asp-action="Calvin">
                        <img src="~/images/Comics/Home Page/Calvin.png" style="height:200px;width:230px; padding-right: 10px; padding-bottom: 10px" />
                        <p style="color:white; text-align:center">Calvin & Hobbes</p> 
                    </a>
                </div>

                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/tintin.jpg" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Tintin</p>
                </div>
                
                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/DC.jpg" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">DC Comics</p>
                </div>
            </div>

            <div class="row" style="color:white">
                <!--IMAGE-->
                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/Superman.jpg" style="height:200px;width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Superman</p>
                </div>

                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/Archie.png" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Archie</p>
                </div>

                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/Marvel.png" style="height:200px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Marvel</p>
                </div>
            </div>

            <div class="row" style="color:white">
                <!--IMAGE-->
                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/Tinkle.png" style="height:230px;width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Tinkle</p>
                </div>

                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/Shikari Shambu.jpg" style="height:230px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Shikari Shambu</p>
                </div>

                <div class="col-lg-4">
                    <img src="~/images/Comics/Home Page/Wolverine.jpg" style="height:230px; width:230px; padding-right: 10px; padding-bottom: 10px" />
                    <p style="text-align:center">Wolverine</p>
                </div>
            </div>

            <!--GO TO PAGE NUMBERS-->

        </div>





        <!--GO TO SIDEBAR-->
        <div class="col-lg-2">
            
        </div>
    </div>





</div>